#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=pt --xlayouts='pt'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=fedoragnome
# Root password
rootpw --iscrypted $6$iiPY90CQ5zS1M.Jc$vJalY7daVLY/Ej7pmR/8WabeDal48eLGTwhTFxJV7ACqDKsjT3TlnyLm2y18FndoRHtCl7OsQj4VXblmFmrBl.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --groups=wheel --name=jgorgulho --password=$6$whA8XPCvhJAlcHJ4$gGB7i2pCr.q/.bsYKgzPojU5CTfzybxI4Wn0lqtGHihBo5hreQssd4DBQnZFqP9ENrwZooBlmTxMi4hM1lSCP1 --iscrypted --gecos="José Gorgulho"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^workstation-product-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
