#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use netwok installation
#url --url="http://ftp.halifax.rwth-aachen.de/fedora/linux/releases/25/Everything/x86_64/os/"
url --url="https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/25/Everything/x86_64/os/"
# Use graphical install
#graphical
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=pt --xlayouts='pt'
# System language
lang en_GB.UTF-8 --addsupport=de_DE.UTF-8,es_ES.UTF-8,fr_FR.UTF-8,pt_PT.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate --hostname=fedora
# Root password
rootpw --iscrypted $6$atjCr0HoZu1xQJ2H$0ax1x7GXGG7alOKFN5uwEATd5gsa2.jiXmuvyfVXJs2eNYbf7/a9gBo4BlPCwCbLHL.CQs0m/Bx7sVGF0CBYQ.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --groups=wheel --name=jgorgulho --password=$6$549pmB8XTodAr/zh$V4B1X5Ad6zUvFr462XTjR3AMBnOH1sVEUhekdsB0lRAyXuNW1nKavYSYxXABMYa.dvDiuW3I08r1a4Oftxip0. --iscrypted --gecos="José Gorgulho"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --initlabel --drives=sda --all
# Disk partitioning information
part pv.589 --fstype="lvmpv" --ondisk=sda --size=19454
part /boot --fstype="ext4" --ondisk=sda --size=1024 --label=boot
volgroup fedora_fedora --pesize=4096 pv.589
logvol /  --fstype="xfs" --size=7155 --label="root" --name=root --vgname=fedora_fedora
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=fedora_fedora
logvol /home  --fstype="xfs" --size=10240 --label="home" --name=home --vgname=fedora_fedora


%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
echo 'Setting delta rpm...'
echo "deltarpm=1" | sudo tee -a /etc/dnf/dnf.conf
echo "Instaling python pip..."
dnf install python-pip
echo "Upgrading pip with... pip..."
pip install --upgrade pip
echo "Installing pytho powerline-status..."
pip install powerline-status
echo "Installing pytho powerline-status..."
git clone https://github.com/jgorgulho/dotfiles /home/jgorgulho/.dotfiles
ln -sf /home/jgorgulho/.dotfiles/.bashrc /home/jgorgulho/.bashrc
chown -R jgorgulho /home/jgorgulho/.dotfiles
chown -R jgorgulho /home/jgorgulho/.dotfiles/.*
chown -R jgorgulho /home/jgorgulho/.bashrc
chvt 1
exec < /dev/tty1 > /dev/tty1 2> /dev/tty1
exit
reboot
%end

%packages
#@^kde-desktop-environment
@Core
tmux
git
chrony
fortune-mod
cowsay
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
