#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use netwok installation
url --url="http://ftp.halifax.rwth-aachen.de/fedora/linux/releases/25/Everything/x86_64/os/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=pt --xlayouts='pt'
# System language
lang en_GB.UTF-8 --addsupport=de_DE.UTF-8,es_ES.UTF-8,fr_FR.UTF-8,pt_PT.UTF-8

# Network information
 network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
 network  --hostname=fedora
# Root password
rootpw --iscrypted $6$atjCr0HoZu1xQJ2H$0ax1x7GXGG7alOKFN5uwEATd5gsa2.jiXmuvyfVXJs2eNYbf7/a9gBo4BlPCwCbLHL.CQs0m/Bx7sVGF0CBYQ.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --groups=wheel --name=jgorgulho --password=$6$549pmB8XTodAr/zh$V4B1X5Ad6zUvFr462XTjR3AMBnOH1sVEUhekdsB0lRAyXuNW1nKavYSYxXABMYa.dvDiuW3I08r1a4Oftxip0. --iscrypted --gecos="José Gorgulho"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^kde-desktop-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
